@model IEnumerable<ABC.EFCore.Entities.POS.StockEvaluation>
@{
    ViewData["Title"] = "StockEvaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#order-listing').DataTable();
        $("table").removeClass("no-footer");
    });
</script>

@if (TempData["response"] != null)
{
    <div class="alert-success" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs" role="tablist">

        <li class="nav-item">
            <a class="nav-link " href="~/Stock/InventoryStock" aria-controls="overview" aria-selected="true">Stock Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active ps-0" href="~/Stock/StockEvaluation" aria-controls="overview" aria-selected="true">Stock Evaluation</a>
        </li>


    </ul>
</div>

<style>
    .div-print {
        margin-left: 81%;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="div-print btn btn-success ignoreForPdf" id="openpdf">
            Print
        </div>
        <h4 class="card-title">StockEvaluation</h4>
        <div class="row">
            <div class="col-12">


                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table dataTable" role="grid" aria-describedby="order-listing_info">
                                <thead align="center">
                                    <tr role="row">
                                        <th>
                                            SER
                                        </th>
                                        <th>
                                            Item Name
                                        </th>

                                        <th>
                                            Item Code
                                        </th>
                                        <th>
                                            QuantityInHand
                                        </th>

                                        <th>
                                            Total Amount
                                        </th>


                                    </tr>
                                </thead>
                                @{var i = 0; }
                                <tbody align="center">
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            i = i + 1;
                                            <tr class="odd">
                                                <td class="sorting_1">@i</td>
                                                <td>@item.ItemName</td>
                                                <td>@item.ItemCode</td>
                                                <td>@item.Quantity</td>

                                                <td>@item.TotalAmount</td>



                                            </tr>

                                        }
                                    }
                                </tbody>
                                <tfoot align="left">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>TotalQuantityInHand:  @Model.ToList().LastOrDefault().TotalQuantityInHand</th>
                                        <th>Stock Evaluation: @Model.ToList().LastOrDefault().GrossAmount</th>
                                    </tr>


                                </tfoot>

                            </table>
                        </div>
                        @*<div class="seperatormenu"></div>
                            <h6 style="margin-left: 40%; margin-top: 27px; font-weight: 900;">TotalQuantityInHand  @Model.ToList().LastOrDefault().TotalQuantityInHand</h6>
                            <h6 style="margin-left: 66%; margin-top: -25px; font-weight: 900;">Stock Evaluation @Model.ToList().LastOrDefault().GrossAmount</h6>*@

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<div id="" style="display:none">
    <div id="stock">
        <h4 class="card-title my-5 text-center"><b>Stock Evaluation</b></h4>
        <div class="row">
            <div class="col-sm-12">
                <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                    <thead>
                        <tr role="row">
                            <th>
                                SER
                            </th>
                            <th>
                                Item Name
                            </th>

                            <th>
                                Item Code
                            </th>
                            <th>
                                QuantityInHand
                            </th>

                            <th>
                                Total Amount
                            </th>


                        </tr>
                    </thead>
                    @{var j = 0; }
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                j = j + 1;
                                <tr class="odd">
                                    <td class="sorting_1">@j</td>
                                    <td>@item.ItemName</td>
                                    <td>@item.ItemCode</td>
                                    <td>@item.Quantity</td>

                                    <td>@item.TotalAmount</td>



                                </tr>

                            }
                        }
                    </tbody>

                </table>
            </div>
            <div class="seperatormenu"></div>
            <h6 style="margin-left: 42%; margin-top: 27px; font-weight: 900; height: 20px;">Total Quantity In Hand  @Model.ToList().LastOrDefault().TotalQuantityInHand</h6>
            <h6 style="margin-left: 68%; margin-top: -25px; font-weight: 900;">Stock Evaluation @Model.ToList().LastOrDefault().GrossAmount</h6>

        </div>
    </div>
</div>
<script>


    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $("#openpdf").on('click', function () {
        var element = document.getElementById('stock');
        debugger;
        var opt = {
            /*filename: document.getElementById('stock').innerHTML,*/
            pagebreak: { after: 'section' },
            html2canvas: { scale: 2 },
            jsPDF: {
                orientation: 'landscape', unit: 'pt', format: 'letter', compressPDF: true
            }
        };
        html2pdf().set(opt).from(element).save();
    });

</script>
