@model IEnumerable<ABC.EFCore.Repository.Edmx.Employee>
@{ ViewData["Title"] = "ManageEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@if (TempData["Msg"] != null)
{
<div class="alert-success" style="max-width: 46%;" id="msgalert">
    @TempData["Msg"].ToString()
</div>}
<div>
    <a href="@Url.Action("RegisterEmployee","Employees")"><Span class="btn btn-success btn-icon background bottom15"><i class="mdi mdi-plus">Add New Employee</i></Span></a>


</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">All Employees</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="order-listing_length">
                                    <label>
                                        Show
                                        <select name="order-listing_length" aria-controls="order-listing" class="custom-select custom-select-sm form-control">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="-1">All</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="order-listing_filter" class="dataTables_filter">
                                    <label>
                                        <input type="search" class="form-control" placeholder="Search" aria-controls="order-listing" id="myInput" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                    <thead>
                                        <tr role="row">
                                            <td></td>
                                            <th>
                                                Employee Code
                                            </th>
                                            <th>
                                                Full Name
                                            </th>
                                            <th>
                                                Driving Lisence
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Action
                                            </th>

                                        </tr>
                                    </thead>
                                    @{var i = 0; }
                                    <tbody>
                                        @if (Model != null)
                                        {
                            @foreach (var item in Model)
                            {
                                i = i + 1;
            <tr class="odd">
                <td class="sorting_1">@i</td>

                <td>@item.EmployeeCode</td>
                <td>@item.FullName</td>
                <td>@item.DrivingLisence</td>
                <td>@item.Email</td>

                @if (item.AdminApproval == null && item.AccessAccount == null)
                {
<td>Pending</td> }
                    else if (item.AdminApproval == true && item.AccessAccount == true)
                    {
<td>Aproved & Registered</td> }
                    else if (item.AdminApproval == true && item.AccessAccount == false)
                    {


<td>Aproved</td>
 }
else
{
<td>Rejected</td>
}

            <td>
                <a class="btn btn-dark py-2" style="color:white; font-size:15px; height:30px;" href="@Url.Action("DetailEmployee", "Employees", new { id = item.EmployeeId })" id="btnhrDetails">Detail</a>&nbsp;&nbsp;&nbsp;
                <a><i style="cursor:pointer" class="mdi mdi-briefcase-edit-outline" onclick="ConfirmUpdate()? location.href='@Url.Action("UpdateEmployee", "Employees", new { id = item.EmployeeId })': null"></i></a>&nbsp;&nbsp;&nbsp;
                <a> <i style="cursor:pointer" class="mdi mdi-trash-can" onclick="ConfirmDelete()? location.href='@Url.Action("DeleteEmployee", "Employees", new { id = item.EmployeeId })': null"></i></a>

            </td>
                @*<td>@item.ProfileImagePath</td>*@

                @*<td>
                        <a><i style="cursor:pointer" class="mdi mdi-briefcase-edit-outline" onclick="ConfirmUpdate()? location.href='@Url.Action("UpdateEmployee", "Employee", new { id = item.EmployeeId })': null"></i></a>&nbsp;&nbsp;&nbsp;
                        <a> <i style="cursor:pointer" class="mdi mdi-trash-can" onclick="ConfirmDelete()? location.href='@Url.Action("DeleteEmployee", "Employee", new { id = item.EmployeeId })': null"></i></a>
                    </td>*@
            </tr>
}}
                                    </tbody>

                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="order-listing_previous"><a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ConfirmDelete() {
        return confirm('Are you sure you want to delete?');
    }
    function ConfirmUpdate() {
        return confirm('Are you sure you want to update record?');
    }

    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#order-listing tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>