@model IEnumerable<ABC.EFCore.Repository.Edmx.EmpLeave>

@{
    ViewData["Title"] = "ManageEmpLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

<div>
    <a asp-action="AddEmployeeLeave"><Span class="btn btn-success btn-icon background bottom15"><i class="mdi mdi-plus">Add Employee Leave</i></Span></a>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Manage Employee Leave</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="leavesssss" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">

                                    <thead>
                                        <tr role="row">
                                            <th>
                                                Sr.
                                            </th>
                                            <th>
                                                Employee Name
                                            </th>
                                            <th>
                                                Leave Type
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FromDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ToDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Reason)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.IsApprove)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var i = 0; }
                                        @if (Model != null)
                                            @foreach (var item in Model)
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>
                                                        @i
                                                    </td>
                                                    @foreach (var item1 in ViewBag.EmployeeName)
                                                    {
                                                        if (item1.EmployeeId == item.EmployeeId)
                                                        {
                                                            <td> @item1.FullName </td>
                                                        }
                                                    }
                                                    <td>
                                                        @foreach (var itemLoantype in ViewBag.EmpLeaveType)
                                                        {
                                                            if (itemLoantype.EmpLeaveTypeId == item.EmpLeaveTypeId)
                                                            {

                                                                @itemLoantype.LeaveTypeName

                                                            }

                                                        }

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FromDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ToDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Reason)
                                                    </td>

                                                    <td>
                                                        @if (item.IsApprove == true)
                                                        {


                                                            <span>Approve</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Not Approve</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a title="Edit"><i style="cursor:pointer" class="mdi mdi-briefcase-edit-outline" onclick="ConfirmUpdate()? location.href='@Url.Action("UpdateEmployeeLeave", "EmployeeLeave", new { id = item.EmpLeaveId })': null"></i></a>&nbsp;&nbsp;&nbsp;
                                                        <a title="Delete"> <i style="cursor:pointer" class="mdi mdi-trash-can" onclick="ConfirmDeleteLeave(@item.EmpLeaveId)"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
    $(document).ready(function () {
        $('#leavesssss').DataTable();
        $("table").removeClass("no-footer");
    });
</script>


@if (TempData["responseofAddLeave"] != null)
{
    <script>toastr.success("@TempData["responseofAddLeave"].ToString()");</script>

}


@if (TempData["responseUpdateLeave"] != null)
{
    <script>toastr.success("@TempData["responseUpdateLeave"].ToString()");</script>

}

@if (TempData["MsgDeleteLeave"] != null)
{
    <script>toastr.success("@TempData["MsgDeleteLeave"].ToString()");</script>

}

<script>
    function ConfirmDeleteLeave(id) {


        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: "DeleteEmployeeLeave/" + id,

                        success: function () {
                            toastr.success("Record Deleted");
                            window.setTimeout(function () {
                                window.location.href = 'ManageEmployeeLeave';
                            }, 500);
                            //window.location.href = "/HumanResource/Employees/ManageTaxType/";




                        }
                    });
                } else {
                    toastr.info("Your file is safe!");
                }
            });


    }
    function ConfirmUpdate() {
        return confirm('Are you sure you want to update record?');
    }



</script>
