@model IEnumerable<ABC.EFCore.Repository.Edmx.CartDetail>
@{
	ViewData["Title"] = "OrderDetails";
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!-- Style CSS -->
@*  <link rel="stylesheet" href="~/css/TrackOrder1.css">*@
<!-- Font Awesome 4-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
	/* Steps */
	.step {
		position: relative;
		min-height: 1em;
		color: gray;
	}

		.step + .step {
			margin-top: 1.5em
		}

		.step > div:first-child {
			position: static;
			height: 0;
		}

		.step > div:not(:first-child) {
			margin-left: 1.5em;
			padding-left: 1em;
		}

		.step.step-active {
			color: #4285f4
		}

			.step.step-active .circle {
				background-color: #4285f4;
			}

	/* Circle */
	.circle {
		background: gray;
		position: relative;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		border-radius: 100%;
		color: #fff;
		text-align: center;
		box-shadow: 0 0 0 3px #fff;
	}

		/* Vertical Line */
		.circle:after {
			content: ' ';
			position: absolute;
			display: block;
			top: 1px;
			right: 50%;
			bottom: 1px;
			left: 50%;
			height: 100%;
			width: 1px;
			transform: scale(1, 2);
			transform-origin: 50% -100%;
			background-color: rgba(0, 0, 0, 0.25);
			z-index: -1;
		}

	.step:last-child .circle:after {
		display: none
	}

	/* Stepper Titles */
	.title {
		line-height: 1.5em;
		font-weight: bold;
	}

	.caption {
		font-size: 0.8em;
	}
</style>


<section class="h-100 gradient-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-lg-10 col-xl-8">
				<div class="card" style="border-radius: 10px;">
					<div class="card-header px-4 py-5">
					<div class="OrderDetail" style="height:90px;">
							<h3 class="text-muted mb-0" style="float:left"> @Model.ElementAt(0).Type</h3>
							<br />
							<img src="@Model.ElementAt(0).ImageURL" alt="logo" style="width:50px; float:right" />
						</div>
						<button onclick="check()" class="btn btn-primary" style="float:right; color:white" id="myBtn"> View Order </button>
						<h5 class="text-muted mb-0">Order Summary</h5>
						<br />
						<p class="small text-muted mb-0"> Order # : @Model.ElementAt(0).TicketId</></p>
						<p class="small text-muted mb-0"> Customer Name : @Model.ElementAt(0).CustomerOrders.ElementAt(0).CustomerName</></p>
						<p class="small text-muted mb-0"> Customer ID : @Model.ElementAt(0).CustomerOrders.ElementAt(0).CustomerCode</></p>
                        <p class="small text-muted mb-0"> Customer Comment : @Model.ElementAt(0).CustomerOrders.ElementAt(0).Comment</></p>

					</div>
					<div class="card-body p-4">

						<div class="card shadow-0 border mb-4">
							<div class="card-body">
								@foreach (var item in Model)
								{
                                   double value = Convert.ToDouble(item.Retail) * Convert.ToDouble(item.Quantity);
                                   value = (double)System.Math.Round(value, 2);
									<div class="row">
										<div class="col-md-2">
                                              @if(item.ImagePath == null || item.ImagePath == "")
                                            {
                                             <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/13.webp" class="img-fluid" alt="Phone" style="width:100px;height:100px">
                                            }
                                            else
                                            {
                                             <img src="@item.ImagePath" style="width:100px;height:100px"/>

                                            }
										</div>
										<div class="col-lg-10" style="display:inline-flex">
                                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">

                                                <p class="text-muted mb-0"> Name: @item.Name</p>
                                            </div>
                                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">

                                                <p class="text-muted mb-0 small">Price: $@item.Retail</p>
                                            </div>
                                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">

                                                <p class="text-muted mb-0 small">Quantity : @item.Quantity</p>
                                            </div>
                                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">

                                                @*<p class="text-muted mb-0 small">Total :  $@(Convert.ToDouble(item.Quantity) * Convert.ToDouble(item.Retail))</p>*@
                                                <p class="text-muted mb-0 small">Total :  $@value</p>
                                            </div>
                                        </div>
										@*<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
											<p class="text-muted mb-0 small">Qty: 1</p>
											</div>
											<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
											<p class="text-muted mb-0 small">$499</p>
										</div>*@
									</div>
									<hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
								}
							</div>
						</div>
						<div id="Track" style="background:rgba(0, 0, 0, 0.03);">
							<h4 class="text-muted mb-0" style="padding:10px; text-align:center;">Track Your Order</h4>

						<div style="padding:10px;">
								@if(@Model.ElementAt(0).CustomerOrders.ElementAt(0).IsRejected == true)
								{
									<div class="step step-active" style="display:flex;">
										<p>@Html.FormatValue("dd/MM/yyyy", @Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderDate ?.ToString("dd/MM/yyyy")) <br> @Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminActionTime</p>
										<div style="margin-left:0px;">
											
											<div class="circle" ><i class="fa fa-check"></i></div>
										</div>
										<div style="margin-left:0px;">
											<div class="title">Order OnHold</div>
											<div class="caption">Your Order has been onhold Due to: @Model.ElementAt(0).CustomerOrders.ElementAt(0).RejectReason</div>
											<div class="caption">Rejected by: @*@Model.ElementAt(0).CustomerOrders.ElementAt(0).RejectReason*@</div>
										</div>
									</div>
								}
								else
								{
									@if(@Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminStatus == false)
									{
										<div class="step" style="display:flex; padding-bottom:10px;">
										<p style="margin-right:80px;"></p>
										<div style="margin-left:0px;">
											
											<div class="circle" ><i class="fa fa-check"></i></div>
										</div>
										<div style="margin-left:0px;">
											<div class="title">Pending Approval</div>
											@*<div class="caption">Your Order has been rejected Due to: @Model.ElementAt(0).CustomerOrders.ElementAt(0).RejectReason</div>*@
											@*<div class="caption">Rejected by: @Model.ElementAt(0).CustomerOrders.ElementAt(0).RejectReason</div>*@
										</div>
										</div>
									}
									else
									{
										@if (@Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminStatus == true)
								{
									
									<div class="step step-active" style="display:flex;">
										<p>@Html.FormatValue("dd/MM/yyyy", @Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderDate ?.ToString("dd/MM/yyyy")) <br> @Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminActionTime</p>
										<div style="margin-left:0px;">
											
											<div class="circle" ><i class="fa fa-check"></i></div>
										</div>
										<div style="margin-left:0px;">
											<div class="title">Order Confirmed</div>
											<div class="caption">Your Order has been confirmed</div>
										</div>
									</div>
								}
								else
								{
									<div class="step" style="display:flex;">
										<p style="margin-right:80px;"></p>
										<div style="margin-left:0px;">
											<div class="circle">1</div>
										</div>
										<div style="margin-left:0px;">
											<div class="title">Order Confirmed</div>
											<div class="caption">Your Order has been confirmed</div>
										</div>
									</div>
								}
								@if(@Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminStatus == true && @Model.ElementAt(0).CustomerOrders.ElementAt(0).IsPulled == true)
								{
									<div class="step step-active" style="display:flex;">
										<p>@Html.FormatValue("dd/MM/yyyy", @Model.ElementAt(0).CustomerOrders.ElementAt(0).PulledDate ?.ToString("dd/MM/yyyy")) <br> @Model.ElementAt(0).CustomerOrders.ElementAt(0).PulledTime</p>
									<div style="margin-left:0px;">
										<div class="circle"><i class="fa fa-check"></i></div>
									</div>
									<div style="margin-left:0px;">
										<div class="title">Package is being Prepared </div>
										<div class="caption">Your Package is being Prepared by Seller.</div>
									</div>
									</div>
								}
								else
								{
									<div class="step" style="display:flex;">
										<p style="margin-right:80px;"></p>
									<div style="margin-left:0px;">
										<div class="circle">2</div>
									</div>
									<div style="margin-left:0px;">
										<div class="title">Package is being Prepared </div>
										<div class="caption">Your Package is being Prepared by Seller.</div>
									</div>
								</div>
								}
								@if(@Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminStatus == true && @Model.ElementAt(0).CustomerOrders.ElementAt(0).IsPulled == true && @Model.ElementAt(0).CustomerOrders.ElementAt(0).IsInvoiced == true)
								{
									<div class="step step-active" style="display:flex;">
										<p>@Html.FormatValue("dd/MM/yyyy", @Model.ElementAt(0).CustomerOrders.ElementAt(0).InvoicedDate ?.ToString("dd/MM/yyyy")) <br> @Model.ElementAt(0).CustomerOrders.ElementAt(0).InvoicedTime</p>
									<div style="margin-left:0px;">
										<div class="circle"><i class="fa fa-check"></i></div>
									</div>
									<div style="margin-left:0px;">
										<div class="title"> Ready for shipment</div>
										<div class="caption">Your Order has been Out for delivery and reached you Soon!. </div>
									</div>
									</div>
								}
								else
								{
									<div class="step" style="display:flex;">
										<p style="margin-right:80px;"></p>
									<div style="margin-left:0px;">
										<div class="circle">3</div>
									</div>
									<div style="margin-left:0px;">
										<div class="title">Ready for shipment</div>
										<div class="caption">Your Order has been Out for delivery and reached you Soon!. </div>
									</div>
								</div>
								}
								
								@if (@Model.ElementAt(0).CustomerOrders.ElementAt(0).AdminStatus == true && @Model.ElementAt(0).CustomerOrders.ElementAt(0).IsPulled == true && @Model.ElementAt(0).CustomerOrders.ElementAt(0).IsInvoiced == true && @Model.ElementAt(0).CustomerOrders.ElementAt(0).Delivered == true)
								{
									<div class="step step-active" style="display:flex;">
										<p>@Html.FormatValue("dd/MM/yyyy", @Model.ElementAt(0).CustomerOrders.ElementAt(0).DeliveredDate ?.ToString("dd/MM/yyyy")) <br> @Model.ElementAt(0).CustomerOrders.ElementAt(0).DeliveredTime</p>
									<div style="margin-left:0px;">
										<div class="circle"><i class="fa fa-check"></i></div>
									</div>
									<div style="margin-left:0px;">
										<div class="title">Delivered</div>
									</div>
								</div>
								}
								else{
									<div class="step" style="display:flex;">
									<p style="margin-right:80px;"></p>
									<div style="margin-left:0px;">
										<div class="circle">4</div>
									</div>
									<div style="margin-left:0px;">
										<div class="title">Delivered</div>
									</div>
								</div>
								}
								
								}
							}
									
								
							</div>
						</div>
						<div class="d-flex justify-content-between pt-2" style="margin-top:10px;">
							<p class="fw-bold mb-0">Order Details</p>
							<p class="text-muted mb-0"><span class="fw-bold me-4">Email :</span> @Model.ElementAt(0).CustomerOrders.ElementAt(0).Email</p>
						</div>

						<div class="d-flex justify-content-between pt-2">
							                            <p class="text-muted mb-0">Order Date : @Html.FormatValue("dd/MM/yyyy", Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderDate?.ToString("dd/MM/yyyy"))</p>
							@*<p class="text-muted mb-0"><span class="fw-bold me-4">Total Price : $</span> @Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderAmount</p>*@
							<p class="text-muted mb-0"><span class="fw-bold me-4">Total Price : $</span> @Model.ElementAt(0).InvTotal</p>
						</div>

						<div class="d-flex justify-content-between">
							<p class="text-muted mb-0">Delivery Address : @Model.ElementAt(0).CustomerOrders.ElementAt(0).BillingAddress</p>
						</div>
						<p style="text-align:center; margin-top:10px">© @DateTime.Now.Year ABC Discounts, all rights reserved.</p>
						@*<div class="Recipt-footer" style="text-align:center; margin-top:12px;">
						<h4 style=" color:#6db0ed; ">ABC Discounts</h4>
						<img src="~/images/logo2.png" />
						</div>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Receipt</h5>
                <button type="button" onclick="Closeclick()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-data" class="modal-body">
                <div style="margin:0px!important;padding:0px!important;box-sizing:border-box">
     <div style="display:none;font-size:1px;color:rgb(254,254,254);line-height:1px;font-family:Helvetica,Arial,sans-serif;max-height:0px;max-width:0px;opacity:0;overflow:hidden;box-sizing:border-box">
    We have got your order! Here are your order and payment details .
    </div>
    <span id="m_7273872973732431438x_j_id0:emailTemplate:j_id7:j_id8:j_id11:j_id12:j_id19" style="box-sizing:border-box">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td height="15" style="font-size:15px;line-height:15px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:20px 0px 0px;border-top-right-radius:15px;border-top-left-radius:15px;background:rgb(237,237,237);box-sizing:border-box;min-width:5px;border:none" valign="top">
    <a href="" style="text-decoration:none;box-sizing:border-box;color:rgb(0,102,147)">
    <img src="~/images/ABC-Logo-removebg-preview.png" style="height:10rem;">
    </a>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="20" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:0px;box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td bgcolor="#ffffff" style="border-top-right-radius:15px;border-top-left-radius:15px;box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td height="30" style="font-size:15px;line-height:15px;border-top-right-radius:15px;border-top-left-radius:15px;box-sizing:border-box;min-width:5px;border:none">
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" style="font-size:36px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);box-sizing:border-box;min-width:5px;border:none">
    Order Confirmation
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="20" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="left" style="padding:0px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:none">
    Hello Dear @Model.ElementAt(0).CustomerOrders.ElementAt(0).CustomerName
    
    <br style="box-sizing:border-box">
    <br style="box-sizing:border-box">
    <br style="box-sizing:border-box">
    Thank you for placing your order with ABC Discounts. Your order and payment details are indicated below. If you would like to view additional details of your order, please visit order history.
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="40" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" style="padding:0px 20px;font-size:28px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);box-sizing:border-box;min-width:5px;border:none">
    Your Order
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="20" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:0px;box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td bgcolor="#ffffff" style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td align="left" style="padding:0px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:none">
    Order Date: @Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderDate
    <br style="box-sizing:border-box">Transaction ID: @Model.ElementAt(0).CustomerOrders.ElementAt(0).TicketId
    <br style="box-sizing:border-box">
    <br style="box-sizing:border-box">
    <br style="box-sizing:border-box">
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="20" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:0px;box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="500">
    <thead style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <th align="left" bgcolor="#ffffff" style="box-sizing:border-box;background:rgb(236,236,236);border:0px solid rgb(221,221,221)" valign="top" width="50%">
    <table cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td align="center" style="box-sizing:border-box;min-width:5px;border:none" width="500">
    <table cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td height="10" style="font-size:10px;line-height:10px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="500">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td align="left" style="padding:0px 20px;font-size:22px;line-height:26px;font-family:Arial,sans-serif;font-weight:normal;color:rgb(51,51,51);width:250px;box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)">
    Delivery Date: 
    </td>
    <td align="left" style="padding:0px 20px;font-size:22px;line-height:26px;font-family:Arial,sans-serif;font-weight:normal;color:rgb(51,51,51);width:250px;box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)">
    <div style="text-align:left;box-sizing:border-box">Payment Mode</div>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="5" style="font-size:5px;line-height:5px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="left" style="padding:0px 20px;font-size:18px;line-height:24px;font-family:Arial,sans-serif;font-weight:bold;color:rgb(255,0,0);box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)">
    @DateTime.Now.AddDays(13).ToShortDateString()
    </td>
    <td align="left" style="padding:0px 20px;font-size:18px;line-height:24px;font-family:Arial,sans-serif;font-weight:normal;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)">
    <div style="text-align:left;box-sizing:border-box">
    @Model.ElementAt(0).CustomerOrders.ElementAt(0).PaymentMode
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </th>
    </tr>
    </thead>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:0px;box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td bgcolor="#ffffff" style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td height="20" style="font-size:5px;line-height:5px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="left" style="padding:0px 20px;font-size:22px;line-height:26px;font-family:Arial,sans-serif;font-weight:normal;color:rgb(51,51,51);box-sizing:border-box;min-width:5px;border:none">
    Delivery Address:
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="5" style="font-size:5px;line-height:5px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="left" style="padding:0px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)">
    <span id="" style="box-sizing:border-box">
    <br style='box-sizing:border-box'>Customer Name: &nbsp; @Model.ElementAt(0).CustomerOrders.ElementAt(0).CustomerName
    <br style='box-sizing:border-box'>Customer Email: &nbsp; @Model.ElementAt(0).CustomerOrders.ElementAt(0).Email
    <br style="box-sizing:border-box">
    </span>
    <br style='box-sizing:border-box'>Customer Address: &nbsp; @Model.ElementAt(0).CustomerOrders.ElementAt(0).BillingAddress
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="60" style="font-size:10px;line-height:10px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" style="font-size:28px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);box-sizing:border-box;min-width:5px;border:none">Order Details</td>
    </tr>
    <tr style="box-sizing:border-box"><td height="20" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td></tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:0px;box-sizing:border-box;min-width:5px;border:none">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td bgcolor="#ffffff" style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td height="10" style="font-size:10px;line-height:10px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:92%;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="500">
    <tbody style="box-sizing:border-box">
<tr style="box-sizing:border-box">
    <td bgcolor="#EDEDED" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">Product</td>
    <td bgcolor="#EDEDED" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <br style="box-sizing:border-box">
    </td>
    <td bgcolor="#EDEDED" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);width:20%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <div style="text-align:center;box-sizing:border-box">Quantity</div>
    </td>
    <td bgcolor="#EDEDED" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);width:20%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <div style="text-align:center;box-sizing:border-box">Price</div>
    </td>
    <td bgcolor="#EDEDED" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(51,51,51);width:20%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <div style="text-align:center;box-sizing:border-box">Total</div>
    </td>
    </tr>
    <tr style="box-sizing:border-box"><td style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td><td style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td><td style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td></tr>
@foreach (var item in Model)
            {
                double total = Convert.ToDouble(item.Retail) * Convert.ToDouble(item.Quantity);
                            total = (double)System.Math.Round(total, 2);
                @*var total = @Convert.ToDouble(item.Quantity) * @Convert.ToDouble(item.Retail);*@
                <tr style="box-sizing:border-box">
                <td style="padding:0px 20px 10px;font-size:18px;line-height:24px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)" >@item.Name</td>
                <td style="padding:0px 20px 10px;font-size:18px;line-height:24px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)" ><br style="box-sizing:border-box"></td>
                <td style="padding:0px 20px 10px;font-size:18px;line-height:24px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)"><div style="text-align:center;box-sizing:border-box">@item.Quantity</div></td>
                <td style="padding:0px 20px 5px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);text-align:right;vertical-align:top;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)" >
                <div style="box-sizing:border-box">$ @item.Retail </div>
                <td style="padding:0px 20px 5px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);text-align:right;vertical-align:top;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)" >
                <div style="box-sizing:border-box">$ @total </div>
                <hr style="width:100%; border-top: 1px dashed black">
                </tr>
            };
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="20" style="font-size:20px;line-height:20px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <span style="box-sizing:border-box">&nbsp;</span>
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:92%;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show;max-width:100%" width="500">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td style="padding:10px 20px 5px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:15%;border-width:2px 0px 0px;border-color:rgb(218,218,218) rgb(221,221,221) rgb(221,221,221);border-style:solid;box-sizing:border-box;min-width:5px">&nbsp;</td>
    <td style="padding:10px 20px 5px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:60%;text-align:right;border-width:2px 0px 0px;border-color:rgb(218,218,218) rgb(221,221,221) rgb(221,221,221);border-style:solid;box-sizing:border-box;min-width:5px">Subtotal:</td>
    <td style="padding:10px 20px 5px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:25%;border-width:2px 0px 0px;border-color:rgb(218,218,218) rgb(221,221,221) rgb(221,221,221);border-style:solid;box-sizing:border-box;min-width:5px">
    <div style="text-align:right;box-sizing:border-box">$ @Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderAmount</div>
    </td>
    </tr>

    <tr style="box-sizing:border-box">
    <td style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:15%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    <td style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:60%;text-align:right;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">Tax / Deposits:</td>
    <td style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:25%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <div style="text-align:right;box-sizing:border-box">$ @Model.ElementAt(0).CustomerOrders.ElementAt(0).CardTax</div>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:15%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    <td bgcolor="#ededed" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:60%;text-align:right;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <strong style="box-sizing:border-box;font-weight:700">Order Total:</strong>
    </td>
    <td bgcolor="#ededed" style="padding:5px 20px;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);width:25%;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <div style="text-align:right;box-sizing:border-box">
    <strong style="box-sizing:border-box;font-weight:700">$ @Model.ElementAt(0).CustomerOrders.ElementAt(0).OrderAmount</strong>
    </div>
    </td>
    </tr>

    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td height="40" style="font-size:40px;line-height:40px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box"><td style="padding:0px 20px;font-size:12px;line-height:16px;font-family:Helvetica,Arial,sans-serif;color:rgb(80,80,80);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">*Final amount will be determined at delivery</td></tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table align="center" bgcolor="#424242" border="0" cellspacing="0" style="max-width:500px;padding:0px 10px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td bgcolor="#424242" height="10" style="font-size:10px;line-height:10px;box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">&nbsp;</td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#424242" style="padding:0px 5%;font-size:18px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:rgb(255,255,255);background:rgb(66,66,66);box-sizing:border-box;min-width:5px;border:none">
    Questions? Chat with the ABC Discounts Support Team online or call us at
    <a style="color:rgb(255,255,255);text-decoration:none;box-sizing:border-box" rel="noopener noreferrer">&nbsp;800-438-0686</a> from 8AM-6PM (ET).
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td bgcolor="#424242" height="10" style="font-size:10px;line-height:10px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;box-sizing:border-box;min-width:5px;border:none">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td align="center" style="background-color:rgb(220,220,220);padding:20px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    <td align="left" style="font-size:15px;line-height:18px;font-weight:bold;font-family:Arial,Helvetica,Montserrat,sans-serif;color:rgb(244,0,0)!important;text-decoration:none!important;box-sizing:border-box;min-width:5px;border:1px solid rgb(221,221,221)" valign="middle">
    <a href="" shape="rect" style="color:rgb(244,0,0);text-decoration:none;box-sizing:border-box">
    </td>
    <td align="center" style="font-size:12px;line-height:18px;font-family:Arial,Helvetica,Montserrat,sans-serif;color:rgb(102,102,102);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)" valign="middle">
    <img src="~/images/ABC-Logo-removebg-preview.png" style="height:10rem;" />
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <div style="box-sizing:border-box">
    <p style="padding:0px 0px 0px 20px;font-size:11px;font-weight:300;line-height:15px;margin-top:1px;margin-right:0px!important;margin-bottom:0px!important;margin-left:0px!important;box-sizing:border-box;color:rgb(68,68,68)">© 2022 ABC Discounts, all rights reserved.</p>
    </div>
    </td>
    </tr>
    <tr style="box-sizing:border-box">
    <td align="center" bgcolor="#ededed" style="padding:10px 0px;background:rgb(237,237,237);box-sizing:border-box;min-width:5px;border:0px solid rgb(221,221,221)">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:500px;box-sizing:border-box;border:none;border-collapse:collapse;empty-cells:show" width="100%">
    <tbody style="box-sizing:border-box">
    <tr style="box-sizing:border-box">
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </span>
    </div>

            </div>
        </div>
    </div>
</div>

<script>
	function DropdownLink() {
		  $("#DropdownLink").toggleClass("show");
	  };
</script>





@*<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> *@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>


			function check(){

	 $('#exampleModal').modal('show');



			};

             function Closeclick()
    {
     $('#exampleModal').modal('hide');
            }

</script>


