@model IEnumerable<ABC.EFCore.Repository.Edmx.Product>
@{ ViewData["Title"] = "ManageItem";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#order-listing').DataTable();
        $("table").removeClass("no-footer");
    });
</script>

@if (TempData["response"] != null)
{
<div class="alert-success" id="msgalert">
    @TempData["response"].ToString()
</div>}
<div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs" role="tablist">

        <li class="nav-item">
            <a class="nav-link " href="~/Items/AddItem" aria-controls="overview" aria-selected="true">AddItem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active ps-0" href="~/Items/Index" aria-controls="overview" aria-selected="true">Existing Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="~/Items/AddGroup" role="tab" aria-selected="false">Group</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="~/Items/AddColor" role="tab" aria-selected="false">Color</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="~/Items/AddModel" role="tab" aria-selected="false">Model</a>
        </li>

    </ul>
</div>

<div>

    <a href="@Url.Action("AddItem","Items")"><Span class="btn btn-success btn-icon background bottom15"><i class="mdi mdi-plus">Add New Item</i></Span></a>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">All Items</h4>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table dataTable" role="grid" aria-describedby="order-listing_info">
                                <thead>
                                    <tr role="row">

                                        <th>
                                            Sr No.
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            ItemNo
                                        </th>
                                        <th>
                                            Action
                                        </th>



                                    </tr>
                                </thead>
                                @{var i = 0; }
                                <tbody>
                                    @if (Model != null)
                                    {
                        @foreach (var item in Model)
                        {
                            i = i + 1;
        <tr class="odd">
            <td class="sorting_1">@i</td>
            <td>@item.Name</td>
            <td>@item.ItemNumber</td>
            <td> <a><i style="cursor:pointer" class="mdi mdi-information"></i></a>&nbsp;&nbsp;&nbsp;</td>

        </tr>}}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ConfirmDelete() {
        return confirm('Are you sure you want to delete?');
    }
    function ConfirmUpdate() {
        return confirm('Are you sure you want to update record?');
    }

    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#order-listing tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>