@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ABC.EFCore.Repository.Edmx.EmpDeduction
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    @*<script>
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("FetchEmpDeductType","Employees")",
                    data: "{}",
                    success: function (data) {

                        var s = '<option value="-1">- - Select Deduction Type - -</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].empDeductionTypeId + '">' + data[i].empDeductionTypeName + '</option>';
                        }
                        $("#empDeductionTypeId").html(s);
                    }
                });
            });
        </script>*@
    <div class="row container">
        <div class="col-md-12">
            @*<form asp-action="AddEmployeeAllowance">*@

            @*<form method="post" action="@Url.Action("AddEmployeeAllowance","/HumanResource/Employees")">*@

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="EmpDeductionTypeId" class="control-label"></label>
                    <select asp-for="EmpDeductionTypeId"
                            class="form-control" id="txtempDeductionTypeId"
                            asp-items="@(new SelectList(ViewBag.EmployeeDeduction,"Value", "Text"))">
                        <option disabled selected>--- SELECT EMPLOYEE DEDUCTION---</option>
                    </select>

                    <span asp-validation-for="EmpDeductionTypeId" class="text-danger"></span>
                    <small id="empDeductionTypeId" class="text-danger text-info"></small>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <select id="employeeid" asp-for="EmployeeId"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.EmployeeNo,"Value", "Text"))">
                        <option disabled selected>--- SELECT EMPLOYEE---</option>
                    </select>
                     
                    <small id="empId" class="text-danger text-info"></small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">Amount</label>
                    <input  id="txtamount" type="number" class="form-control" />
                     
                    <small id="aamount" class="text-danger text-info"></small>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" id="txtdate" class="form-control" type="date"/>
                   
                    <small id="ddate" class="text-danger text-info"></small>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-md-6">
                    <label asp-for="Reason" class="control-label"></label>
                    <textarea  id="txtreason" rows="4" cols="70" style="border: 1px solid #dee2e6; border-radius: 4px; "></textarea>
                     <small id="rreason" class="text-danger text-info"></small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="IsApprove" class="control-label"></label>
                    <input id="txtisApprove" type="checkbox" checked />
                    
                </div>
            </div>

            <div class="form-group col-md-4">
                <input type="button" value="Create" onclick="SaveAddDeduction()" class="btn btn-lg btn-dark me-3 wd-40" style="color:whitesmoke" />
                <button type="button" class="btn btn-lg btn-dark me-3 wd-40" data-dismiss="modal" style="color:whitesmoke">Close</button>

            </div>

        </div>
    </div>





    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    @*<script>
            $(function () {

                $('#submitalo').on('click', function (evt) {
                    debugger
                    evt.preventDefault();
                    var url = "/HumanResource/Employees/AddEmployeeAllowance"
                    $.post('/HumanResource/Employees/AddEmployeeAllowance', $('#myForm').serialize(), function () {
                        alert('Posted using jQuery');
                    });
                });
            });
        </script>*@



<script>
        function SaveAddDeduction() {

            debugger
            var DeductionTypeId = $("#txtempDeductionTypeId").val();
            var Employee = $("#employeeid").val();

            var Amount = $("#txtamount").val();
            var Date = $("#txtdate").val();
            var Reason = $("#txtreason").val();

            if (DeductionTypeId == null) {

                $("#empDeductionTypeId").html("<ul><li>Please Select DeductionType here.</li> </ul>");

                return false;
            }
            else if (Employee == null) {
                $("#empId").html("<ul><li>Please Select Employee.</li> </ul>");
                $("#empDeductionTypeId").html("");
                return false;
            }


            else if (Amount == "") {

                $("#aamount").html("<ul><li>Please enter amount here.</li> </ul>");
                $("#empId").html("");
                return false;
            }


            else if (Date == "") {
                $("#ddate").html("<ul><li>Please fill Date field</li> </ul>");
                $("#aamount").html("");

                return false;


            }
            else if (Reason == "") {
                $("#rreason").html("<ul><li>Please fill Reason field</li> </ul>");
                $("#ddate").html("");

                return false;

            }

            $.ajax({

                type: "POST",
                  url: '@Url.Action("AddEmployeeDeduction", "EmployeeDeduction")',
                //url: "AddEmployeeDeduction",
                //url:"https://apps.ab-sol.net/abc.pos/EmployeeDeduction/AddEmployeeDeduction",
               // url:"https://localhost:44372/EmployeeDeduction/AddEmployeeDeduction"
                data: { EmployeeId: $("#employeeid").val(), EmpDeductionTypeId: $("#txtempDeductionTypeId").val(), Amount: $("#txtamount").val(), Date: $("#txtdate").val(), Reason: $("#txtreason").val(), IsApprove: $("#txtisApprove").val() },
                //       contentType: "application/json; charset=utf-8",
                //     dataType: "json",
                success: function (data) {
                    $("#empDeductionTypeId").html("");
                    $("#empId").html("");
                    $("#aamount").html("");
                    $("#ddate").html("");
                    $("#rreason").html("");
                    $("#txtempDeductionTypeId").val("");
                    $("#employeeid").val("");
                    $("#txtamount").val("");
                    $("#txtdate").val("");
                    $("#txtreason").val("");


                    //new Notify({
                    //    title: 'Success!',
                    //    text: "Deduction added Successfully",
                    //    status: 'success',
                    //    effect: 'slide',// animation
                    //    speed: 300, // animation speed
                    //    type: 3,
                    //    autoclose: true,
                    //    autotimeout: 4000
                    //});
                    toastr.success("Saved Successfully");
                }
            });
        }
</script>